*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #505163;
}

.div-of-main-logo{
    margin-left: 17%;
    margin-top: -7%;
}

.main-logo{
    color: white;
    font-size: 200%;
    font-weight: 600;
}

.upper-img{
    width: 2.2%;
}

.upper-container{
    margin: 0 auto;
}

.main-heading{
    color: white;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
}

.main-heading span{
    color: #f0bb0f;
}

.container-1{
    background-color: #363545;
    width: 850px;
    height: 450px;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 120%;
    margin-left: 7%;
}

.img-logo{
    width: 2.5%;
    position: relative;
    top: 4px;
}

.icons{
    margin-left: 22%;
}

.links li,a{
    list-style-type: none;
    display: inline;
    color: #bfbfca;
    text-decoration: none;
    margin-left: 1%;
    font-size: 92%;
}

.links li,a:hover{
    color: #ffffff;
}

.net-icon,.linkedin-icon,.align-icon{
    width: 2%;
}

.icons li,img{
    display: inline;
    cursor:pointer;
    margin-left: 1%;
}

.logo,.links,.icons{
    display: inline;
}

.im{
    color: #505163;
    font-size: 200%;
}

.name{
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.line{
    background-color: #f0bb0f;
    width: 16%;
    height: 4px;
    margin-top: -4%;
}

.text{
    color: #bfbfca;
    font-size: 80%;
}

.intro{
    margin-left: 8%;
}

.sub-service{
    color: white;
    font-size: 85%;
}

.service-discription{
    color: white;
    font-size: 90%;
}

.show{
    color: #f0bb0f;
    cursor: pointer;
}

.icons-2 div,img{
    display: inline;
    width: 5%;
}

.fb-icon,.tw-icon,.pint-icon,.insta-icon{
    background-color: #505163;
    border-radius: 60%;
    padding: 3% 2% 1.5% 1%;
    margin-right: 2%;
}

.service{
    margin-left: 62%;
    margin-top: -26%;
}

.image{
    background-color: #2D2D39;
    border-radius: 50%;
    height: 300px;
    width: 35%;
    margin: 0 auto;
    margin-top: -23%;
    display: flex;
    justify-content: center;
}

.mypic{
    width: 150%;
    height: 600px;
    margin-top: -75%;
}

.g{
    color: #4f4fdd;
}

.o{
    color: rgb(248, 47, 47);
}

.o2{
    color: rgb(253, 215, 0);
}

.g2{
    color:  #4f4fdd;;
}

.l{
    color: rgb(21, 119, 8);
}

.e{
    color: rgb(248, 47, 47);
}

.box{
    background-color: #505163;
    width: 83%;
    height: 17%;
    margin-left: 8%;
    position: relative;
    top: 11%;
    padding: 0.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(78, 76, 76);
}


.meta{
    width: 20%;
    height: auto;
    font-size: 150%;
    color: white;
    padding-bottom: 10px;
    background-color:#2D2D39;
    border: none;
    position: relative;
    cursor: pointer;
}

.go{
    text-align: center;
    color: white;
    width: 20%;
    height: auto;
    padding: 10px;
    font-size: 150%;
    background-color:#2D2D39;
    border: none;
    cursor: pointer;
}

.linkedin{
    color: white;
    width: 20%;
    height: auto;
    padding-bottom: 10px;
    font-size: 150%;
    border: none;
    background-color:#2D2D39;
    position: relative;
    cursor: pointer;
}

.slack{
    color: white;
    width: 20%;
    height: auto;
    padding-bottom: 10px;
    font-size: 150%;
    font-weight: bold;
    background-color:#2D2D39;
    border: none;
    position: relative;
    cursor: pointer;
} 

.img-meta{
    width: 25%;
    position: relative;
    top: 5px;
}

.img-linkedin{
    width: 25%;
    position: relative;
    top: 5px;
}


.img-slack{
    width: 25%;
    position: relative;
    top: 8px;
}


.container-2{
    background-color: #282834;
    width: 850px;
    height: 670px;
    margin: 0 auto;
}

.c2-div1{
    margin-left: 8%;
    padding-top: 15%;
}

.what{
    color: white;
    font-size: 170%;
    font-weight: bold;
}

.text-2{
    color: #bfbfca;
    font-size: 70%;
}

.p250,.p100,.p30,.p10{
    color: #bfbfca;
    font-size: 90%;
}

.p250 span{
    color: #f0bb0f;
    font-size: 120%;
    font-weight: bold;
}

.p100 span{
    color: #f0bb0f;
    font-size: 120%;
    font-weight: bold;
}

.p30 span{
    color: #f0bb0f;
    font-size: 120%;
    font-weight: bold;
}

.p10 span{
    color: #f0bb0f;
    font-size: 120%;
    font-weight: bold;
}

.p250,.p100{
    display: inline-block;
    margin-left: 2%;
}

.p30,.p10{
    display: inline-block;
    margin-left: 2%;
}

.number{
    margin-left: 6%;
}

.boxes{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
}

.box-1,.box-2,.box-3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 28%;
    height: 190px;
    background-color: #464755;
    margin-left: 2%;
}

.box-1 p{
    font-size: small;
}

.box-2 p{
    font-size: small;
}

.box-3 p{
    font-size: small;
}

.box-1 p,h3{
    margin-left: 5%;
}

.box-2 p,h3{
    margin-left: 5%;
    margin-top: 10%;
}

.box-3 p,h3{
    margin-left: 5%;
}

.box-1 img{
    width: 10%;
    background-color: #3e4052;
    border-radius: 60%;
    padding: 2% 2% 1.5% 1%;
    margin-left: 5%;
    margin-top: 8%;
}

.box-2 img{
    width: 10%;
    background-color: #3e4052;
    border-radius: 60%;
    padding: 2% 2% 1.5% 1%;
    margin-left: 5%;
    margin-top: 8%;
}

.box-3 img{
    width: 10%;
    background-color: #3e4052;
    border-radius: 60%;
    padding: 2% 2% 1.5% 1%;
    margin-left: 5%;
    margin-top: 8%;
}


.p-ui,.p-front,.p-app{
    color: white;
    font-size: 120%;
}

.p-117,.p-84,.p-32{
    color: white;
    font-size: 80%;
    line-height: 0.5px;
}

.arrow-1,.arrow-2,.arrow-3{
    color: #f0bb0f;
    font-weight: bold;
}

.img-ui,.img-front,.img-app{
    width: 20%;
    height: 70px;
}

.projects{
    margin-left: 50%;
    margin-top: -65%;
}

.ui{
    margin-top: -19%;
    margin-left: 23%;
}

.front{
    margin-top: -19%;
    margin-left: 23%;
}

.app{
    margin-top: -19%;
    margin-left: 23%;
}

.arrow-1{
    margin-left: 75%;
    margin-top: -12%;
}

.arrow-2{
    margin-left: 75%;
    margin-top: -12%;
}

.arrow-3{
    margin-left: 75%;
    margin-top: -12%;
}

.hr-1{
    margin-top: -2.5%;
    margin-right: 19.5%;
    width: 79%;
}

.hr-2{
    margin-top: -2.5%;
    margin-right: 19.5%;
    width: 79%;
}

.hr-3{
    margin-top: 9%;
    margin-right: 19.5%;
    width: 79%;
}

